[Desktop Entry]
Categories=Development;RevisionControl;X-Red-Hat-Base;
Name=NPS Subversion Client
Comment=NPS Subversion Client
Icon=nps-svn-client
Exec=nps-svn-client
Type=Application
