[Desktop Entry]
Categories=Development;RevisionControl;X-Red-Hat-Base;
Name=NPS Subversion Client
Comment=NPS Subversion Client
Icon=${SNAP}/meta/gui/nps-svn-client.png
Exec=nps-svn-client
Type=Application
