[Desktop Entry]
Categories=Development;RevisionControl;X-Red-Hat-Base;
Name=NPS Subversion Client
Comment=NPS Subversion Client
Icon=/snap/nps-svn-client/current/meta/gui/nps_svn_client.png
Exec=nps_svn_client
Type=Application
